@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
:root {
    --primary: #7D5A5A;
    --secondary: #F1D1D1;
    --teritary: #F3E1E1;
    --accent: #FAF2F2;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    color: var(--accent);
    font-size: 30px;
    z-index: 20;
}



.navbar .logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar ul li {
    margin: 20px;
    position: relative;
    text-transform: uppercase;
}


.navbar li a{
    text-decoration: none;
    color: var(--accent);
    position: relative;
    z-index: 10;
}

.navbar li::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    left: -100%;
    bottom: -5px;
    z-index: 0;
    border-bottom: 2px solid white;
    transition: all 0.2s linear;
}

.active li:hover:after,
.navbar li:hover:after{
    left: 0;
    width: 100%;
}


.navbar li:hover a,
.active a{
    font-weight: bold;
    color: white;
}

.navbar .dropdown:hover{
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.navbar .sub-menu {
    display: none;
    position: absolute;
    background-color: var(--secondary);
    min-width: 160px;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.sub-menu ul {
    flex-direction: column;
}

.sub-menu ul a {
    color: var(--primary);
}

.order:hover .dropdown
{
    font-weight: bold;
}
.order:hover .sub-menu {
    display: block;
}