<link rel="stylesheet" href="/css/footer.css">
<!-- footer -->
<div class="footer">
    <div class="social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-snapchat"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
    <ul class="list">
        <li><a href="#">HOME</a></li>
        <li><a href="#menu">MENUS</a></li>
        <li><a href="#n">ABOUT</a></li>
        <li><a href="#n">TERMS</a></li>
        <li><a href="#n">PRIVACY POLICY</a></li>
    </ul>
</div>